In [2]:
import numpy as np 
import pandas as pd

from sklearn.datasets import load_boston
from sklearn.tree import DecisionTreeRegressor, plot_tree
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

import matplotlib.pyplot as plt 
import seaborn as sns

In [3]:
#To read dataset
df=pd.read_csv("insurance.csv")
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [ ]:
df.drop(['sex','region'],axis=1,inplace=True)

In [22]:
df

      age     bmi  children  smoker      charges
0      19  27.900         0       1  16884.92400
1      18  33.770         1       0   1725.55230
2      28  33.000         3       0   4449.46200
3      33  22.705         0       0  21984.47061
4      32  28.880         0       0   3866.85520
...   ...     ...       ...     ...          ...
1333   50  30.970         3       0  10600.54830
1334   18  31.920         0       0   2205.98080
1335   18  36.850         0       0   1629.83350
1336   21  25.800         0       0   2007.94500
1337   61  29.070         0       1  29141.36030

[1338 rows x 5 columns]

In [23]:
df['smoker'].replace({'no': 0, 'yes': 1},inplace=True)

In [24]:
df

      age     bmi  children  smoker      charges
0      19  27.900         0       1  16884.92400
1      18  33.770         1       0   1725.55230
2      28  33.000         3       0   4449.46200
3      33  22.705         0       0  21984.47061
4      32  28.880         0       0   3866.85520
...   ...     ...       ...     ...          ...
1333   50  30.970         3       0  10600.54830
1334   18  31.920         0       0   2205.98080
1335   18  36.850         0       0   1629.83350
1336   21  25.800         0       0   2007.94500
1337   61  29.070         0       1  29141.36030

[1338 rows x 5 columns]

In [25]:
x = df.drop('charges', axis =1)
y = df['charges']
x_train,x_test,y_train,y_test = train_test_split(x,y, random_state=1, test_size=0.3)
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((936, 4), (402, 4), (936,), (402,))

In [26]:
model = DecisionTreeRegressor(random_state=20)
model.fit(x_train,y_train)

DecisionTreeRegressor(random_state=20)

In [37]:
y_train_pred = model.predict(x_train)
y_train_pred[:5]

array([ 8827.2099,  2597.779 ,  2721.3208, 10702.6424,  9391.346 ])

In [38]:
def evaluation(actual,pred):
    """This function is for evaluation of model"""

    mse=mean_squared_error(actual,pred)
    print(f"MSE={mse}")

    rmse=np.sqrt(mse)
    print(f"RMSE={rmse}")

    r2=r2_score(actual,pred)
    print(f"R2_Score={r2}")
    
    

evaluation(y_train,y_train_pred)

MSE=127.73557692307679
RMSE=11.302016498089037
R2_Score=0.9999991404955778

In [39]:
y_test_pred = model.predict(x_test)
y_test_pred[:5]

array([ 1263.249  , 11842.62375,  9283.562  , 10977.2063 ,  2585.85065])

In [40]:
evaluation(y_test,y_test_pred)

MSE=51008701.4893471
RMSE=7142.037628670623
R2_Score=0.6400656292666413

# Hyperparameter Tuning

In [41]:
hyp_model = DecisionTreeRegressor()

hyp = {
    'criterion': ['squared_error','absolute_error'],
    'max_depth' : np.arange(3,8),
    'min_samples_split' :np.arange(5,15),
    'min_samples_leaf' : np.arange(2,8)
}


gscv = GridSearchCV(hyp_model, hyp, cv = 5)
gscv.fit(x_train,y_train)

GridSearchCV(cv=5, estimator=DecisionTreeRegressor(),
             param_grid={'criterion': ['squared_error', 'absolute_error'],
                         'max_depth': array([3, 4, 5, 6, 7]),
                         'min_samples_leaf': array([2, 3, 4, 5, 6, 7]),
                         'min_samples_split': array([ 5,  6,  7,  8,  9, 10, 11, 12, 13, 14])})

In [42]:
gscv.best_params_

{'criterion': 'squared_error',
 'max_depth': 4,
 'min_samples_leaf': 7,
 'min_samples_split': 5}

In [43]:
dt_reg = DecisionTreeRegressor(criterion = 'squared_error',max_depth= 4, 
                               min_samples_leaf= 7,min_samples_split= 5,random_state=5)
dt_reg.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=4, min_samples_leaf=7, min_samples_split=5,
                      random_state=5)

# Testing accuracy

In [44]:
y_pred = dt_reg.predict(x_test)

In [46]:
def dt_evaluation(actual,pred):
    mse = mean_squared_error(actual,pred)
    print(f"MSE={mse}")

    mae = mean_absolute_error(actual,pred)
    print(f"MAE = {mae}")

    print(f"RMSE = {np.sqrt(mse)}")

    r2 = r2_score(actual,pred)
    print(f"R-Sequared Value = {r2}")

    n,p = x_test.shape
    adj_r2 = 1 - (((1-r2) * (n-1)) / (n - p - 1))
    print(f"Adjusted R - Sequared = {adj_r2}")

dt_evaluation(y_test,y_pred)

MSE=21107146.766917262
MAE = 2593.4895241950726
RMSE = 4594.2514914746735
R-Sequared Value = 0.8510609490595709
Adjusted R - Sequared = 0.8495603037100451

In [47]:
y_train_pred = dt_reg.predict(x_train)

In [48]:
dt_evaluation(y_train,y_train_pred)

MSE=19512866.77257285
MAE = 2570.140171926427
RMSE = 4417.337068027846
R-Sequared Value = 0.8687022387552918
Adjusted R - Sequared = 0.8673793393976625